body {
  color: #020000;
  background: lightyellow;
  text-align: center;
  font-family: 'proxima-nova', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px; }
  body h1 {
    color: #020000;
    margin-top: 10px;
    margin-bottom: px; }
  body h2 {
    color: #020000;
    margin-top: 10px;
    margin-bottom: 40px; }
  body h3 {
    color: #020000;
    margin-top: 40px;
    margin-bottom: 0px; }
  body p {
    color: #020000;
    padding-right: 10px; }
  body ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding-right: 15px; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #020000; }
  body img {
    border-radius: 50%; }
