$background-color: rgb( 255, 255, 224 );
$text-color: rgb( 2, 0, 0 );

body {
  color: $text-color;
  background: $background-color;
  text-align: center;
  font-family: 'proxima-nova', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: px;
  }

  h2 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  h3 {
    color: $text-color;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  p {
    color: $text-color;
    padding-right: 10px;
  }

  ul {
      display: table;
      margin: 0 auto;
      list-style-type: none;
      padding-right: 15px;
  }


  a {
    text-decoration: underline;
    &:hover {
      color: $text-color;
    }
  }

  img {
    border-radius: 50%;
  }
}
